header {
    max-width: 1200px;
    max-height: 800px;
    margin: 0 auto;

    color:white;
    background-color:#000;

    text-align: center;
    border-radius: 10px 10px 0 0;

    border-bottom: 1px solid rgb(97, 97, 97);
}